In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Norman Wells,CA,65.2820,-126.8329,57.24,94,75,2.30,broken clouds,2022-07-21 14:22:47
1,1,Jamestown,US,42.0970,-79.2353,78.03,82,100,18.41,overcast clouds,2022-07-21 14:22:48
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,73.36,78,20,5.75,few clouds,2022-07-21 14:22:48
3,3,Carnarvon,AU,-24.8667,113.6333,67.21,66,95,15.77,overcast clouds,2022-07-21 14:22:48
4,4,Bani,DO,18.2833,-70.3333,85.86,60,4,13.80,clear sky,2022-07-21 14:22:49

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [7]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Jamestown,US,42.0970,-79.2353,78.03,82,100,18.41,overcast clouds,2022-07-21 14:22:48
4,4,Bani,DO,18.2833,-70.3333,85.86,60,4,13.80,clear sky,2022-07-21 14:22:49
5,5,Cabo San Lucas,MX,22.8909,-109.9124,87.10,66,7,14.36,clear sky,2022-07-21 14:18:46
7,7,Lorengau,PG,-2.0226,147.2712,80.28,78,100,2.86,overcast clouds,2022-07-21 14:22:50
11,11,Gewane,ET,10.1664,40.6453,94.30,28,49,13.38,scattered clouds,2022-07-21 14:22:51
13,13,Ouallam,NE,14.3188,2.0866,90.84,42,97,3.83,overcast clouds,2022-07-21 14:22:52
16,16,Atuona,PF,-9.8000,-139.0333,77.00,76,12,14.58,few clouds,2022-07-21 14:22:52
17,17,Marathon,US,44.9000,-89.7668,76.24,70,0,11.50,clear sky,2022-07-21 14:22:53
19,19,Kutum,SD,14.2000,24.6667,81.41,45,100,23.17,overcast clouds,2022-07-21 14:22:53
21,21,Ajdabiya,LY,30.7554,20.2263,84.22,46,0,19.80,clear sky,2022-07-21 14:22:54

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Jamestown,US,42.0970,-79.2353,78.03,82,100,18.41,overcast clouds,2022-07-21 14:22:48
4,4,Bani,DO,18.2833,-70.3333,85.86,60,4,13.80,clear sky,2022-07-21 14:22:49
5,5,Cabo San Lucas,MX,22.8909,-109.9124,87.10,66,7,14.36,clear sky,2022-07-21 14:18:46
7,7,Lorengau,PG,-2.0226,147.2712,80.28,78,100,2.86,overcast clouds,2022-07-21 14:22:50
11,11,Gewane,ET,10.1664,40.6453,94.30,28,49,13.38,scattered clouds,2022-07-21 14:22:51
...,...,...,...,...,...,...,...,...,...,...,...
694,694,Great Bend,US,38.3645,-98.7648,84.04,48,0,10.36,clear sky,2022-07-21 14:25:26
695,695,Iracoubo,GF,5.4802,-53.2011,82.45,73,27,5.30,scattered clouds,2022-07-21 14:26:35
698,698,Tura,IN,25.5198,90.2201,76.37,95,100,3.40,overcast clouds,2022-07-21 14:26:36
701,701,Akyab,MM,20.1500,92.9000,83.48,80,100,4.09,overcast clouds,2022-07-21 14:26:37
703,703,Lahij,YE,13.1667,44.5833,91.31,41,47,10.87,scattered clouds,2022-07-21 14:26:38

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Jamestown,US,78.03,overcast clouds,42.0970,-79.2353,
4,Bani,DO,85.86,clear sky,18.2833,-70.3333,
5,Cabo San Lucas,MX,87.10,clear sky,22.8909,-109.9124,
7,Lorengau,PG,80.28,overcast clouds,-2.0226,147.2712,
11,Gewane,ET,94.30,scattered clouds,10.1664,40.6453,
13,Ouallam,NE,90.84,overcast clouds,14.3188,2.0866,
16,Atuona,PF,77.00,few clouds,-9.8000,-139.0333,
17,Marathon,US,76.24,clear sky,44.9000,-89.7668,
19,Kutum,SD,81.41,overcast clouds,14.2000,24.6667,
21,Ajdabiya,LY,84.22,clear sky,30.7554,20.2263,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
radius = 5000

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": radius,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Jamestown,US,78.03,overcast clouds,42.0970,-79.2353,Jamestown
4,Bani,DO,85.86,clear sky,18.2833,-70.3333,Baní
5,Cabo San Lucas,MX,87.10,clear sky,22.8909,-109.9124,Cabo San Lucas
7,Lorengau,PG,80.28,overcast clouds,-2.0226,147.2712,Lorengau
11,Gewane,ET,94.30,scattered clouds,10.1664,40.6453,Gewana

In [13]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [16]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))